###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.sh    text eol=lf

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
*.cs    text diff=csharp
